mixin spacer(val, mod)
  td(class=mod || '' style="width: "+val+"px;height:"+val+"px;" width=val height=val bgcolor="transparent")
    table(class=mod || '' width=val height=val style="display:block; width: "+val+"px; height:"+val+"px;" bgcolor="transparent" border="0" cellspacing="0" cellpadding="0")
      tr(class=mod || '')
        td(class=mod || '' style="width: "+val+"px;height:"+val+"px;" width=val height=val bgcolor="transparent")
